/* 전체 스타일 */
*{
    font-family: 'Noto Sans KR', sans-serif;
    list-style: none;
    /* 밑에 밑줄 */
    text-decoration: none;
    /* 중앙 정렬 */
    margin: 0 auto;
    padding: 0;
    color: black;
}

#menuicon, .header_icon{
    display: none;
}

/* 1차 intro_bg START */
.intro_bg{
    width: 100%;
    height: 720px;
    background-color: lightblue;
}

.header{
    width: 1280px;
    height: 86px;
    background-color: red;
    display: flex;
}
/* 1열(가로)로 정렬 */
.nav{
    display: flex;
    margin-top: 30px;
}

.nav > li{
    margin-left: 84px;
}

.nav > li > a{
    color: white;
    font-weight: bold;
    font-size: 18px;
}

.searchArea{
    width: 320px;
    height: 40px;
    background-color: green;
    margin-top: 30px;
}
/* 마우스 올렸을 때 색상 변경  */
.nav a:hover{
    color: lime;
}

.nav li ul{
    margin-left: 13px;
    display: none;
}

.nav li:hover ul{
    display: block;
    animation: fade-in .7s;
    animation-fill-mode: forwards;
}
/* fade-in 정의 */
@keyframes fade-in{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.nav a{
    color: white;
    margin-top: 5px;
    font-size: 18px;
}

.searchArea > form > span{
    width: 50px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.searchArea > form > input{
    width: 250px;
    height: 25px;
    outline: none;
    border: none;
    border-radius: 15px;
    color: white;
    background: rgba(0,0,0,1);
    padding-left: 15px;
}

.intro_text{
    width: 100%;
    background-color: violet;
    text-align: center;
    position: relative;
    top: 300px;
}

.intro_text > h1, h4{
    color: white;
}

.intro_bg{
    background-image: url('../images/img102.jpg');
    background-size: 100% 720px;
}
.header, .nav, .searchArea, .intro_text{
    background-color: transparent;
}

/* 1차 intro_bg END */

/* 2차 작업 sub_title_div START */

.sub_title{
    width: 1280px;
    height: 130px;
    background-color: tomato;
    display: flex;
    position: relative;
    top: -65px;
    background-color: white;
}

.sub_title{
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
}

.sub_title > li > div {
    background-color: violet;
    width: 315px;
    height: 120px;
    margin-top: 5px;
    /* 텍스트 가운데 정렬 */
    text-align: center;
    background-color: white;
}

.sub_title > li > div > h2{
    padding-top: 30px;
}

.sub_title > li:not(li:last-child) > div{
    border-right: 1px solid gray;
}

/* 2차 작업 sub_title_div END */

/* 3차 작업 main_text0 START */

.main_text0{
    width: 100%;
    height: 620px;
    background-color: lavender;
    margin-top: -130px;
}

.main_text0 > h1{
    text-align: center;
    padding-top: 100px;
    font-size: 60px;
}

.main_text0 > p{
    text-align: center;
    margin-top: 10px;
    font-size: 25px;
}

.main_text0 > ul{
    display: flex;
    width: 1280px;
    height: 302px;
    background-color: tomato;
    padding-top: 30px;
}

.icons > li{
    background-color: lightcyan;
    width: 400px;
    text-align: center;
    padding-top: 10px;
}

.main_text0{
    background-color: #f0f3f5;
}

.main_text0 > ul{
    background-color: transparent;
}

.icons > li{
    background-color: #8ce7f7;
}

.contents1_bold > p{
    font-size: 25px;
    font-weight: bold;
}

.more{
    background-color: mediumblue;
    width: 100px;
    height: 30px;
    color: white;
    padding-top: 5px;
    margin: 20px auto;
}

/* 3차 작업 main_text0 END */

/* 4차 작업 main_text1 START */

.main_text1{
    width: 100%;
    height: 700px;
    background-color: lightblue;

}

.main_text1 > h1{
    text-align: center;
    font-size: 60px;
    padding-top: 30px;
}

.contents2 > p{
    text-align: center;
    font-size: 25px;
    margin-top: 20px;
}

.service{
    display: flex;
    background-color: tomato;
    width: 1280px;
    height: 440px;
    margin-top: 20px;
}

.service > div > img{
    width: 640px;
    height: 440px;
}

.service > div:last-child{
    background-color: lightyellow;
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: justify;
}

.main_text1{
    background-color: white;
}

/* 4차 작업 main_text1 END */

/* 5차 작업 main_text2 START */

.main_text2 > ul{
    width: 100%;
    height: 500px;
    background-color: lightblue;
    display: flex;
}

.main_text2 > ul > li{
    width: 50%;
}

.main_text2 > ul > li:first-child > div{
    width: 100%;
    height: 500px;
    background-color: lightpink;
    text-align: center;
}

.main_text2 > ul > li:last-child > div{
    width: 100%;
    height: 500px;
    background-color: lightseagreen;
    text-align: center;
}

.main_text2 > ul > li > div > h1{
    padding-top: 160px;
}

.main_text2 h1, .main_text2 p, .more2{
    color: white;
    padding-bottom: 20px;
}

.more2{
    border: 1px solid white;
    width: 150px;
    height: 20px;
}

.more2 > p{
    padding-top: 7px;
    cursor: pointer;
}

.last_bg1{
    background-image: url(../images/img1.jpg);
    background-size: 100% 500px;
}

.last_bg2{
    background-image: url(../images/img2.jpg);
    background-size: 100% 500px;
}

.last_bg1:hover, .last_bg2:hover{
    opacity: 0.6;
}

.main_text2 > ul > li{
    background-color: black !important;
}

/* 5차 작업 main_text2 END */

/* 반응형 작업 START */

/* 화면 너비가 1280px 이하 */
@media(max-width:1280px){
    #wrap{width: 95%;}
    .header{width: 100%;}
    .nav > li{margin-left: 30px;}
    .sub_title{width: 95%;}
    .sub_title > li > div{width: 240px;}
    .main_text0 > ul{width: 95%;}
    .icons > li{width: 340px;}
    .service{width: 95%;}
}

/* 화면 너비가 930px 이하 */
@media(max-width:930px){
    .nav{display: none;}
    .searchArea{margin: 0;}
    #input_search{width: 200px; margin-top: 20px; margin-left: 20px;}
    
    input[id="menuicon"]+label{
        display: block;
        width: 30px;
        height: 20px;
        background-color: red;
        position: fixed;
        right: 30px;
        top: 25px;
        cursor: pointer;
    }
    
    input[id="menuicon"]+label > span{
        display: block;
        width: 100%;
        height: 4px;
        background-color: white;
    }

    input[id="menuicon"]+label span:nth-child(1){
        position: absolute;
        top: 0;
    }
    input[id="menuicon"]+label span:nth-child(2){
        position: absolute;
        top: calc( 50% - 2px);
    }
    input[id="menuicon"]+label span:nth-child(3){
        position: absolute;
        bottom: 0;
    }

    /* 클릭이 되었을 때 X 표시 변경
    라벨에 input태그를 걸었기 때문에 라벨을 클릭하면
    input태그에 checkbox가 체크된다.
    따라서 input태그가 checked인 상태라면 
    label > span태그에 애니메이션을 줌. */

    input[id="menuicon"]:checked + label span:nth-child(1){
        top:50%;
        transform: rotate(45deg);
    }
    input[id="menuicon"]:checked + label span:nth-child(2){
        opacity: 0;
    }
    input[id="menuicon"]:checked + label span:nth-child(3){
        top:50%;
        transform: rotate(-45deg);
    }

    .header_icon{
        position: fixed;
        display: block; 
        width: 300px; 
        height: 100%; 
        background-color: #222;
        /* 화면 밖 오른쪽 영역으로 보내놨다가 메뉴가 클릭이 되면
        보이는 위치로 들어옴 */
        right: -300px;
        /* 맨앞으로 오게끔 z-index 1 부여 */
        z-index: 1;
    }
    /* id값을 가진 input태그가 checked 상태라면 하위label -> 하위div 선택 */
    input[id="menuicon"]:checked + label + div{
        right: 0;
    }
    input[id="menuicon"]+label{
        z-index: 2;
        background-color: transparent;
    }
    input[id="menuicon"]+label span{
        border-radius: 30px;
        transition: all .3s;
    }

    .header_icon{
        transition: all .3s;
    }

    .menu{
        width: 250px;
        height: 500px;
        margin: 100px auto;
    }
    .menu > li{
        padding-top: 20px;
        padding-left: 30px;
    }
    .menu > li > a{
        color: white;
    }
    .div_footer{
        height: 200px !important;
    }
    /* 슬라이드 */

    .sub_title{
        width: 95%;
        height: 260px;
        display: block;
        text-align: center;
    }
    .sub_title > li{
        display: inline-block;
        width: 350px;
    }
    .sub_title > li:last-child > div{
        border-right: 1px solid gray;
    }
    .sub_title > li > div{
        border-bottom: 1px solid black;
        border-right: 1px solid black;
        box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    }

    .main_text1{
        height: 1100px;
        background-color: thistle;
    }
    .service{
        display: block;
        width: 100%;
        height: 800px;
        background-color: red;
    }
    .service > div:first-child > img{
        width: 100%;
    }
    .contents3{
        height: 440px;
    }
    .main_text1, .service{
        background-color: white;
    }

}

/* 화면 너비가 550px 이하 */

@media(max-width:550px){

    .sub_title{
        height: 510px;
        display: block;
    }
    .sub_title > li > div{
        width: 300px;
    }
    .main_text0{
        height: 1220px;
        background-color: lightblue;
    }
    .main_text0 > ul{
        display: block;
        height: 900px;
        background-color: tomato;
    }
    .main_text0 > ul > li{
        width: 400px;
    }
    .main_text0, .main_text0 > ul{
        background-color: white;
    }

    .main_text2 > ul{
        display: block;
        height: 1000px;
    }
    .main_text2 > ul > li{
        width: 100%;
    }
    .div_footer{
        height: 280px !important;
    }

}

